<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>WebPage Design</title>
        <link rel = "stylesheet" href = "app.component.css">
    </head>
    <body>
        <div class="main">
            <!-- navbar -->
            <div class="navbar">
                <div class="icon">
                    <h2 class = "logo">CREATIVE</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href = "/">HOME</a></li>
                        <li><a href = "/">ABOUT</a></li>
                        <li><a href = "/">SERVICE</a></li>
                        <li><a href = "/">DESIGN</a></li>
                        <li><a href = "/">CONTACT</a></li>
                    </ul>
                </div>
                <div class="search">
                    <input class = "srch" type = "search" name = "" placeholder="Type To Text">
                    <a href = "/" ><button class = "search-btn" >Search</button></a>
                </div> 
            </div>
            <!-- content -->
            <div class = "content">
                <h1>Web Design & <br><span>Development</span> <br>Course</h1>
                <p class = "para">We design & develop your website strategically & carefully by analysing your needs & goals.<br> 
                    We make quality website that helps you stand out from the crowd & make an impact in market.<br> 
                    Affordable Pricing. Highly Experienced. Free Domain. Website & Ads.</p>
                <button class ="joinus"><a href ="/" >JOIN NOW</a></button>
            </div>
            <!-- login-form -->
            <div class = login-form>
                <h2 class = "login-header">Sign up</h2>

                <input type = "text" id = "username" name ="username" placeholder="User Name ">
                <input type = "text" id = "email" name ="email" placeholder="Email ">
                <input type = "password" id = "password" name ="password" placeholder="Password">

                <input  type = "submit" id = "signUp" name = "signup_submit" value = "sign up"/>
                <P class = "login-link">Already have an account<br>
                <a href = "#">Log in </a>here</P>
                <p class = "liw">Log in with</p>
                <div class = "login-icons">
                  <a href = "#"><fa-icon [icon]="faEnvelope"></fa-icon></a>
                  <a href = "#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
                  <a href = "#"><fa-icon [icon]="faGoogle"></fa-icon></a>
                </div>
            </div>

        </div>
    </body>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
        import { getDatabase } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-auth.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyAuvmDr258v4n2RvtvBSXgiRSd4J5jijmk",
          authDomain: "creative-app-860f7.firebaseapp.com",
          databaseURL: "https://creative-app-860f7-default-rtdb.firebaseio.com",
          projectId: "creative-app-860f7",
          storageBucket: "creative-app-860f7.appspot.com",
          messagingSenderId: "655407761827",
          appId: "1:655407761827:web:0ba8a0fe9e96e9911df216"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        const auth = getAuth();

    signUp.addEventListener('click',(e)=>{
        var username = documet.getElementById('username').value;
        var email = documet.getElementById('email').value;
        var password = documet.getElementById('password').value;
            
        createUserWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in 
                const user = userCredential.user;
                const alert  = alert('user created!');
                    // ...
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                const erroMessage = alert(errorMessage);
                // ..
            });    
        });
      </script>
</html>

<!-- <router-outlet></router-outlet> -->
